* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

input, button {
  display: block;
  outline: none;
  cursor: pointer;
}

button {
  background: transparent;
  border: none;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::webkit-scrollbar-track {
  border-radius: 4px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 4px;
}

